<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" media="screen" href="/stylesheets/main.css">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/loader.css">

</head>
<body>
<p>
    <img src="images/cat.png" height="42" width="42">
    <span class="greeting">O Hai,</span>
    <span class="sub-greeting">according to your calculations... </span>
</p>
<div id="table_div">
    <div class="loader"></div>

</div>
<p>
    <img src="images/cat.png" height="42" width="42">
    <span class="greeting">Here,</span>
    <span class="sub-greeting">have a donut...</span>
</p>

<div id="piechart">
    <div class="loader"></div>
</div>

<p>
    <img src="images/cat.png" height="42" width="42">
    <span class="greeting">Here</span>
    <span class="sub-greeting">have a time line here...</span>
</p>

<div id="timeline">
    <div class="loader"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script src="/js/analysis.service.js"></script>


<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript" src="/js/index.js"></script>

</body>
</html>
